<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springDemo.user.dao.TestDao" >

  <!-- 查询全部对象 -->
  <select id="selectCount" resultType="int">
	SELECT count(*) TABLES, table_schema FROM information_schema.TABLES  where table_schema = 'test' GROUP BY table_schema
  </select>

</mapper>