<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

	<properties>
		<property name="logPath">D://log</property>
	</properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
			<!-- <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - 
				%msg%n" /> -->
			<!-- <PatternLayout pattern="%-d [%t] %-5p %c{1}:%L - %m%n" /> -->
		</Console>

		<!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <!-- 按月生成归档日志，可以使用 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz" -->
        <!-- 显示error级别之外的信息 -->
        <RollingFile name="RollingFile" filename="${logPath}/automation.log"
			filepattern="${logPath}/%d{yyyyMMddHHmmss}-automation.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
        </RollingFile>
        
        <!-- 显示error级别之外的信息 -->
        <RollingFile name="ERollingFile" filename="${logPath}/automationE.log"
			filepattern="${logPath}/%d{yyyyMMddHHmmss}-automationE.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
        
	</Appenders>
	<Loggers>
		<Root level="trace">
			<appender-ref ref="Console"/>
			<appender-ref ref="RollingFile" />
			<appender-ref ref="ERollingFile" />
		</Root> 
	</Loggers>
	
</Configuration>